@model KursKayit

<p>
    <b>@Model.Ogrenci.OgrenciAd @Model.Ogrenci.OgrenciSoyad</b> adlı öğrencinin <b>@Model.Kurs.Baslik</b> kursuna kaydını silmek istediğinize emin misiniz?

    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.KayitId" />
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hayır</a>
    </form>
</p>